# System
.DS_Store
.vscode-test

# Dependency directories
node_modules/
jspm_packages/
bower_components/

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local
